<%- include('../partials/header') %>

<h1>Chirps!</h1>

<% posts.forEach(function(p) { %>
    <div>
        <table>
            <td><img alt='avatar' src='<%= p.userAvatar %>' referrerpolicy='no-referrer'><%= p.userName %></td>
            <td><%= p.content %></td>
            <td>
                <% if (user?._id.equals(p.user)) { %>
                    <form action='/posts/<%= p._id %>?_method=DELETE' method='POST'>
                        <button type='submit'>X</button>
                    </form>
                <% } %>
            </td>
        </table>
    </div>
<% }); %>

<%- include('../partials/footer') %>