<%- include('../partials/header') %>

<div id='main-container'>
    <h1>Latest Chirps!</h1>
<% posts.forEach(function(p) { %>
    <div class='user-post'>
        <div class='user-avatar'>
            <img class='user-avatar' src='<%= p.userAvatar %>' alt='avatar' referrerpolicy='no-referrer'>
        </div>
        <div class='post-content'>
            <p class='user-name'><%= p.userName %></p>
            <p class='post-text'><%= p.content %></p>
        </div>
        <div class='post-details'>
            <% if (user?._id.equals(p.user)) { %>
                <div class='dropdown' id='dropdown-<%= p._id %>'>
                    <form class='post-form' action='/posts/<%= p._id %>?_method=PUT' method='POST'>
                        <input class='edit-input' type='text' name='content' value='<%= p.content %>'>
                        <button class='edit-btn' type='submit'>
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                    </form>
                    <form action='/posts/<%= p._id %>?_method=DELETE' method='POST'>
                        <button class='delete-btn' type='submit'>
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </form>
                </div>
                <button class='dropdown-btn'> 
                    <span class='material-symbols-outlined dropdown-icon-<%= p._id %>' id='<%= p._id %>'>more_vert</span>
                </button>
            <% } %>
            <a class='show-link' href='/posts/<%= p._id %>'>
                <span class='material-symbols-outlined md-36'>comment</span>
            </a>
        </div>
    </div>
<% }); %>
</div>

<script>
    document.addEventListener('click', function(e) {
        console.log(e.target.tagName);
        const targetId = e.target.id
        const dropDownId = `dropdown-${targetId}`
        const dropDownEl = document.getElementById(dropDownId);
        const dropDownIcon = document.querySelector(`.dropdown-icon-${targetId}`)
        const dropDownVisibility = dropDownEl.style.visibility
        const isHidden = dropDownVisibility === 'hidden' || dropDownVisibility === '';
        if (e.target.tagName === 'BUTTON' || e.target.tagName === 'SPAN') {
            dropDownEl.style.visibility = isHidden ? 'visible' : 'hidden';
            dropDownIcon.innerHTML = isHidden ? 'arrow_outward' : 'more_vert';
        } 
  
    });
</script>

<%- include('../partials/footer') %>