<%- include('../partials/header') %>

<div id='main-container'>
    <div id='user-post'>
        <div>
            <img id='post-user-avatar' src='<%= post.userAvatar %>' alt='avatar'>
        </div>
        <div class='post-content'>
            <p class='post-user-name'><%= post.userName %></p>
            <p class='post-text'><%= post.content %></p>
        </div>
        <% if (user?._id.equals(post.user)) { %>
        <div class='post-details'>
                <div class='dropdown' id='dropdown-<%= post._id %>'>
                    <form class='post-form' action='/posts/<%= post._id %>?_method=PUT' method='POST'>
                        <input class='edit-input' type='text' name='content' value='<%= post.content %>'>
                        <button class='edit-btn' type='submit'>
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                    </form>
                    <form action='/posts/<%= post._id %>?_method=DELETE' method='POST'></form>
                        <button class='delete-btn' type='submit'>
                        <span class="material-symbols-outlined">delete</span>
                        </button>
                    </form>
                </div>
            </div>
        <button class='dropdown-btn'> 
            <span class='material-symbols-outlined dropdown-icon-<%= post._id %>' id='<%= post._id %>'>more_vert</span>
        </button>
        <% } %>
    </div>
        <% if (user) { %>
            <div id='add-comment-field'>
                <p>add comment:</p>
                <form id='comment-form' method='POST' action='/posts/<%= post._id %>/comments'>
                    <textarea id='new-comment-form' name='content'></textarea>
                    <button id='add-post-icon' type='submit'>
                        <span class='material-symbols-outlined'>add</span>
                    </button>
                </form>
            </div>
        <% } %>  
    <% if (post.comments.length) { %>
        <% post.comments.forEach(function(c) { %>
            <div class='user-comment'>
                <div class='user-comment-avatar'>
                    <img class='user-comment-avatar' src='<%= c.userAvatar %>'>
                </div>
                <div class='comment-content'>
                    <p class='comment-user-name'><%= c.userName %></p>
                    <p class='post-text'><%= c.content %></p>
                </div>
                <div class='comment-details'>
                    <% if (user?._id.equals(c.user)) { %>
                        <div class='dropdown' id='dropdown-<%= c._id %>'>
                            <div class='comment-edit-container'>
                            <form id='comment-edit-form' action='/comments/<%= c._id %>?_method=PUT' method='POST'>
                                <textarea id='comment-textarea' name='content' value='<%= c.content %>'></textarea>
                                <button class='edit-btn' type='submit'>
                                    <span class="material-symbols-outlined">edit</span>
                                </button>
                            </form>
                            <form action='/comments/<%= c._id %>?_method=DELETE' method='POST'>
                                <button class='delete-btn' type='submit'>
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
                <button class='dropdown-btn'> 
                    <span class='material-symbols-outlined dropdown-icon-<%= c._id %>' id='<%= c._id %>'>more_vert</span>
                </button>
            </div>
        <% }) %>
    <% } %>
</div>

<script>
    document.addEventListener('click', function(e) {
        console.log(e.target.tagName);
        const targetId = e.target.id
        const dropDownId = `dropdown-${targetId}`
        const dropDownEl = document.getElementById(dropDownId);
        const dropDownIcon = document.querySelector(`.dropdown-icon-${targetId}`)
        const dropDownVisibility = dropDownEl.style.visibility
        const isHidden = dropDownVisibility === 'hidden' || dropDownVisibility === '';
        if (e.target.tagName === 'BUTTON' || e.target.tagName === 'SPAN') {
            dropDownEl.style.visibility = isHidden ? 'visible' : 'hidden';
            dropDownIcon.innerHTML = isHidden ? 'arrow_outward' : 'more_vert';
        }           
    });
</script>

<%- include('../partials/footer') %>