<%- include('../partials/header') %>

<div>
    <img src='<%= post.userAvatar %>' alt='avatar'>
    <h2><%= post.userName %> %></h2>
</div>

<div>
    <p><%= post.content %></p>
    <% if (user?._id.equals(post.user)) { %>
        <div id='dropdown'>
            <form action='/posts/<%= post._id %>?_method=DELETE' method='POST'>
                <button type='submit'><span class="material-symbols-outlined">
                    delete
                </span></button>
            </form>
            <form action='/posts/<%= post._id %>?_method=PUT' method='POST'>
                <input id='edit-input' type='text' name='content' value='<%= post.content %>'>
                <button id='edit-btn' type='submit'><span class="material-symbols-outlined">
                    edit
                </span></button>
            </form>
        </div>
        <button id='dropdownbtn'>
            <span id='openMenu' class="material-symbols-outlined">more_vert</span>
            <span id='closeMenu' class="material-symbols-outlined">arrow_back_ios_new</span>
        </button>
    </td>
    <% } %>
</div>

<% if (user) { %>
<div>
    <form method='POST' action='/posts/<%= post._id %>/comments'>
        <textarea name='content'></textarea>
        <button type='submit'>+</button>
    </form>
</div>
<% } %>

<% if (post.comments.length) { %>
    <% post.comments.forEach(function(c) { %>
        <div>
            <table>
                <td><img src='<%= c.userAvatar %>' alt='avatar' referrerpolicy='no-referrer'></td>
                <td><%= c.userName %></td>
                <td><%= c.content %></td>
                <% if (user?._id.equals(c.user)) { %>
                    <td>
                        <form action='/comments/<%= c._id %>?_method=DELETE' method='POST'>
                            <button type='submit'><span class="material-symbols-outlined">
                                delete
                            </span></button>
                        </form>
                    </td>
                <% } %>
            </table>
        </div>
    <% }) %>
<% } %>

<script>
    document.addEventListener('click', function(e) {
        if (e.target.id === 'dropdownbtn' || e.target.id === 'openMenu' || e.target.id === 'closeMenu') {
            console.log(e.target);
            document.getElementById('dropdown').style.visibility='visible';
        } if (e.target.id === 'edit-btn') {

        }
        console.log(e.target);
    })
</script>

<%- include('../partials/footer') %>